@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Geologica", sans-serif !important;
}

:root {
	--primary-color: #dd6b20;
	--secondary-bg-color: #f6f6f6;
	--tertiary-bg-color: #eaeaea;
}
